*{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
html{
    scroll-behavior: smooth;
}
/* petit point marge
    margin-top:30px;
    margin-right:10px;
    margin-bottom:30px;
    margin-left:10px;
    /* = à :
    margin: 30px 10px 30px 10px; /*top right bottom left*/
    /* = à :
    margin: 30px 10px;/*top/bottom right/left*/

ul{
    list-style: none;/*enlève les puces sur toutes les UL*/
}
a{
    text-decoration: none;/*enlève le soulignement sur tous les A*/
}
/*********
fonts
*********/
@font-face {
    font-family: 'big';
    src: url('../fonts/BigNoodleTitling.eot');
    src: url('../fonts/BigNoodleTitling.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BigNoodleTitling.woff2') format('woff2'),
        url('../fonts/BigNoodleTitling.woff') format('woff'),
        url('../fonts/BigNoodleTitling.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/********* fin fonts ************/
/* Header*/
header{
    height: 100vh;/*100vh = la hauteur complète de l'écran*/
    background: url("../img/fond.jpg") center;
    background-size: cover;/*permet au background de couvrir complétement la taille du header*/
    display: flex;/*permet l'utilisation de justify-content et align-items*/
    justify-content: center;/*va centrer sur la largeur la div contenant les images du logo*/
    align-items: center;/*va centrer sur la hauteur la div contenant les images du logo*/
}
header nav{
    position: fixed;/* fixe la navigation par rapport à l'écran*/
    top:50%;/*la navigation sera positionnée à 50% du haut de l'écran*/
    left:5%;/*la navigation sera positionnée à 5% de la gauche de l'écran*/
    background:rgba(255,255,255,0.7);/*couleur du fond avec une transparence*/
    transform: translateY(-50%);/*permet de centrer parfaitement la nav sur la hauteur en la remontant de 50% de sa taille*/
}
header nav ul li{
    padding: 10px 20px; /* ajoute une marge interne de 10px en haut et en bas et de 20px à gauche et à droite*/
    border-bottom: 2px solid black;/*ajoute une bordure en bas de chaque LI*/
}
header nav ul li:last-of-type{
    border-bottom: none;/*retire la bordure sur la dernière LI*/
}
header nav ul li a{
    font-family: 'big';/*change la font du A*/
    font-size: 20px;/* change la taille du texte*/
    color:black;/*couleur du texte*/
    text-transform: uppercase;/*va mettre le texte en majuscule*/
}

header div {
    width: 20vw;/*largeur de la div contenant les images du logo en vw(ViewportWidth)
    valeur relative à la largeur de l'écran*/
    height: 20vw;/*hauteur de la div contenant les images du logo en vw(ViewportWidth)
    valeur relative à la largeur de l'écran*/
    position: relative;/*permet au image en position absolute de dépendre de leur parent*/
}
header div img{
    width: 100%;/*largeur des imgages (100% de la largeur du parent div*/
    position: absolute;/*permet de superposer les images les unes au dessus des autres
    par rapport à leur parent en relative*/
    top:0;/*elles seront à 0px du haut de la div parent*/
    left: 0;/*elles seront à 0px de la gauche de la div parent*/
}
/* FIN Header*/
/* Section produits*/
main{
    display: flex;/*permet l'utilisation de justify-content*/
    justify-content: flex-end;/*pousse la section sur la droite*/
}
section{
    width: 70%;/*la taille de la section*/
    display: flex;/*permet au div de venir les unes à côté des autres*/
    flex-wrap: wrap;/*permet au div de passer à la ligne*/
    padding: 100px 0;/*ajoute une marge interne en haut et en bas de 100px*/
}
section>div{/*la div produit (animation + nom du produit)*/
    width: 200px;/*largeur de la div*/
    margin: 25px;/* marge entre les div*/
}
section h2{
    font-family: 'big';/* change la font du h2*/
}
section>div>div{/*la div qui contient la photo + l'animation*/
    width:200px ;/*largeur de la div*/
    height: 200px;/*hauteur de la div*/
    position: relative;/*permet à la div qui contient le p d'en dépendre avec le absolute*/
    overflow: hidden;/* masque les éléments qui dépassent des 200x200px*/
}
section>div>div img{
    width: 100%;/*l'image fait 100% de la largeur du parent*/
}
section>div>div>div{/*la div qui s'anime*/
    font-family: 'big';/* change la font du p*/
    background: rgba(0,0,0,0.5);
    width:200px ;/*largeur de la div*/
    height: 200px;/*hauteur de la div*/
    display: flex;/* permet l'utilisation de justify-content et align-items pour centrer le p*/
    justify-content: center;/*centre sur la largeur*/
    align-items: center;/*centre sur la hauteur*/
    text-align: center;/* centre les lignes du texte*/
    position: absolute;/*permet la superposition avec le parent en relative*/
    top:0;/*elle sera à 0px du haut de la div parent*/
    left:0;/*elle sera à 0px de la gauche de la div parent*/
    transition: 0.5s /*ajoute un effet sur l'animation*/
    
}
/*100% = la taille de l'élément*/
.haut>div{/*la div qui s'anime à l'intérieur de la class haut*/
    transform: translateY(-100%);/*déplace la div à -100% de sa taille = vers la haut ->axe Y*/
}
.haut:hover>div{/*au survol de class haut la div revient à son point 0*/
    transform: translateY(0);/*elle revient à son point de départ*/
}
.droite>div{/*la div qui s'anime à l'intérieur de la class droite*/
    transform: translateX(100%);/*déplace la div à 100% de sa taille = vers la droite ->axe X*/
}
.droite:hover>div{/*au survol de class droite la div revient à son point 0*/
    transform: translateX(0);/*elle revient à son point de départ*/
}
.bas>div{/*la div qui s'anime à l'intérieur de la class haut*/
    transform: translateY(100%);/*déplace la div à 100% de sa taille = vers le bas ->axe Y*/
}
.bas:hover>div{/*au survol de class haut la div revient à son point 0*/
    transform: translateY(0);/*elle revient à son point de départ*/
}
.gauche>div{/*la div qui s'anime à l'intérieur de la class droite*/
    transform: translateX(-100%);/*déplace la div à -100% de sa taille = vers la gauche ->axe X*/
}
.gauche:hover>div{/*au survol de class droite la div revient à son point 0*/
    transform: translateX(0);/*elle revient à son point de départ*/
}

/* FIN Section produits*/
/* footer*/
footer{
    background: #333;/*ajoute un fond de couleur au footer*/
    display: flex;
    align-items: center;/* permet de centrer sur la largeur les éléments enfant*/
    flex-direction: column;/*permet de remettre les éléments le uns en dessous des autres*/
    padding: 150px 0;/* ajoute une marge interne en haut et en bas du footer*/
}
.coordonnees{
    display: flex;/*permet a bloc-g et bloc-d d'être à côté*/
    margin-bottom: 50px;/*pousse la div reseau vers le bas*/
}
.bloc-g{
    border-right: 2px solid white;/*ajoute une bordure à droite de la div*/
    padding-right: 25px;/*ajoute une marge interne à droite pour éloigner la bordure*/
}
.bloc-d{
    display: flex;
    flex-direction: column;/*permet de remettre les éléments le uns en dessous des autres*/
    justify-content: flex-end;/*mets les éléments en bas de la div*/
    padding-left: 25px;/* ajoute une marge interne de 25px à gauche*/
    color: white;/*change la couleur des textes*/

}
.reseaux a{
    margin: 0 15px;/*espace les a qui contiennent les pictos */
}
/* FIN footer*/